.pokedex-container {
  display: flex;
  height: 100vh;
}
.pokelist {
  width: 30vw;
  height: 100%;
  overflow-y: scroll;
}

.pokelist ul {
  padding: 0;
  margin: 0;
}
.pokelist li {
  text-align: center;
  list-style-type: none;
  background-color: #3b4CCA;
}

.pokelist li a {
  text-decoration: none;

}

.pokelist li a {
  color: white;
  font-weight: 700;
  padding: 5px;
}